<header class="header">
  <button class="js-open-modal" data-modal="2">Открыть окно 2</button>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis amet illum
    optio minus, deserunt, ullam commodi delectus velit repudiandae alias
    doloremque distinctio. Eius molestiae facilis laudantium, facere nemo vitae
    quo.
  </p>
  <img
    src="../img/vite-logo.png"
    alt="Тут шлях з ../"
    width="300"
    height="300"
  />
  <img src="./img/vite-logo.png" alt="" width="300" height="300" />
</header>
